body {
    background: #AD9A8D;
}
.container {
    background-color: #AD9A8D;
}
.jumbotron {
    background-color: #69443C;
}
.card img {
    width: 100%;
    height: 20dvh;
    object-fit: cover; 
}
.card-body {
    height: 22dvh;
}