html {
    background-color: #AD9A8D;
}
body {
    background: #AD9A8D !important;
}
.jumbotron {
    background-color: #69443C;
}
.homepagebody {
    background-color: #AD9A8D;
}
.homeimage {
    width: 100dvw;
}
.card img {
    width: 100%;
    height: 20dvh;
    object-fit: cover; 
}
.card-body {
    height: 22dvh;
}
